* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

li {
  list-style: none;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app__title {
  text-decoration: underline;
}

.shopping {
  padding: 20px 50px;
  background: wheat;
  min-width: 50%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 6px;
}

.shopping__header {
  text-align: center;
}

.shopping__add {
  display: flex;
  min-height: 30px;
  gap: 5px;
}
.shopping__add > input {
  flex: 1;
}

.shopping__list > ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.shopping__list--item {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.x__mark {
  color: red;
  cursor: pointer;
}
